// VARIABLES
[data-theme="dark"] {
  --bg-color1: #121416;
  --font-color: #f4f4f4;
}
[data-theme="light"] {
  --bg-color1: #f4f4f4;
  --font-color: #121416;
}

// MAIN
h1 {
  color: var(--font-color)
}
html {
  background: var(--bg-color1);
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
body {
  color: var(--font-color);
}
.container {
  max-width: 900px;
  position: relative;
  padding: 4px;
  margin: auto;
  overflow-x: auto;
}

// HELPERS
h5 {
  font-size: 1.15rem;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.shadow {
  box-shadow:  0 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.text-center {
  text-align: center !important;
}
.text-underline {
  text-decoration: underline;
}
.p-12 {
  padding: 12px;
}
.pl-6 {
  padding-left: 6px;
}
.pointer {
  cursor: pointer;
}
