[data-theme="light"] {
  --table-header: #1c1c1c;
  --table-header-bg: #dee2e6;
  --table-cell-bg: #fff;
  --font-color: #121416;
  --table-surface: #fff;
  --table-text: #fff;
  --table-divider: #c4c6c8;
  --table-row-hover: #68C1EE;
  --table-first-cell-hover: #3FA6DA;
  --action: #0F6894;
  --disabled: #969ea9;
}

[data-theme="dark"] {
  --table-header: #f6f7f9;
  --table-header-bg: #383e47;
  --table-cell-bg: #2f343c;
  --font-color: #f4f4f4;
  --table-surface: #363640;
  --table-text: #fff;
  --table-divider: #22272d;
  --table-row-hover: #0F6894;
  --table-first-cell-hover: #0C5174;
  --action: #68C1EE;
  --disabled: #7d838f;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: var(--table-divider);
}

::-webkit-scrollbar-thumb {
  background: var(--disabled);
}

::-webkit-scrollbar-corner {
  background: var(--table-divider);
}

table {
  border-collapse: collapse; // removes border-spacing
  font-family: helvetica;
  width: 100%;

  // cell settings & sizes
  th,
  td {
    padding: 10px;
    min-width: auto;
    box-sizing: border-box;
    border-right: 1px solid var(--table-divider);
  }

  th {
    padding: 0px;
  }

  // custom headers
  thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--table-header-bg);
    color: var(--table-header);
    white-space: nowrap;
    user-select: none;

    &:first-child {
      left: 0px;
      z-index: 3;
    }

    &:hover {
      background-color: var(--table-first-cell-hover);
    }

    .table-name {
      padding: 10px;
      border-bottom: 2px solid var(--table-divider);
      border-right: 1px solid var(--table-divider);
      margin-bottom: -2px;
      margin-right: -1px;
    }
  }

  // border settings & sizes
  tbody {
    overflow: scroll;
    // height: 200px;
    text-transform: capitalize;
    white-space: nowrap;

    tr {
      border-bottom: 1px solid var(--table-divider);
    }

    // sticky left row
    tr> :first-child {
      position: sticky;
      background: var(--table-header-bg);
      left: 0px;
      min-width: 90px;
    }

    & tr:nth-child(odd) {
      background: var(--table-cell-bg);
    }

    // inner cells
    & tr:hover {
      background: var(--table-row-hover);
      color: var(--font-color);

      // border-color: var(--table-first-cell-hover);
      // left first row cell
      & :first-child {
        background: var(--table-first-cell-hover);
      }
    }
  }
}



.td-first {
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid var(--table-divider);
  margin-bottom: -1px;
  margin-right: -1px;
  padding-right: 8px;
}

.parent .td-first {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--table-header);
  background: var(--table-header-bg);
  // border-top: 1px solid var(--table-divider);
  border-right: 2px solid var(--table-divider);
  // border-bottom: 1px solid var(--table-divider);
}

// PAGINATION
.icon {
  height: 16px;
  width: auto;
  cursor: pointer;
  user-select: none;

  &.--pagination {
    height: 20px;
  }

  // &:hover {
  //   fill: var(--action);
  // }
}
